*{
    padding: 0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
body, html {
    height: 100%;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;

}

a{
    text-decoration: none;
    color :#000
}
a:hover{
    color: #3b82f6;
}
.logo a{
    color:rgb(6, 6, 6);
    font-size: 30px;
    line-height: 48px;
    padding : 0 50px;


}
nav{
    background: #ffffff;
    height:60px;
    width:100%;
}
nav ul {
    float:right;
    margin-right:20px;
}
nav ul li{
    display: inline-block;
    line-height: 40px;
    margin:10px 5px;
}
nav ul li a{
    color:rgb(7, 7, 7);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 7px;
    font-style: bold;

}
nav ul li a .active , nav ul li a:hover{
  background-color: #3b82f6;
  color:#ffffff;
  transition: 0.5s;
}

.hamberger{
    width:30px;
    height:auto;
    margin-top: 14px;
    float: right;
    line-height:40px ;
    margin-right:20px;
    display: none;
    cursor: pointer;
}



  .mobile-menu{
    background-color: #3b82f6;
    bottom: 0%;
    border-radius: 17px 17px 0 0;
    color: #ffffff;

  }
  .mobile-menu li{
    padding: 10px;
    text-align: left;
  }
  .child{
    width:100%;
    height:auto;
    position:fixed;
    bottom: 0;
    border-radius: 17px 17px 0 0;
    display: flex;
    flex-direction: column;
    z-index: 250;
  }
  .cross{
   
    /* background: aqua; */
    border-radius: 50px;
    float:right;
    height:25px;
    padding :-10px -10px -10px -10px;

  }
div.close-bottom{
    position: absolute;
    right:10px;
    margin-top: -50px;;
    padding: 10px;;
    background-color: #3b82f6;
    ;
    border-radius: 50px;
 }
 
.hero{
    /* The hero image */

    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/image.jpg");
  
    /* Set a specific height */
    height: 90%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

  .typed-text-output{
    color:#be123c;
  }
  @media screen and (max-width: 781px) {
    nav ul li a{
        display: none;
    }
    .logo a{
        color:rgb(3, 3, 3);
        font-size: 26px;
        line-height: 50px;
        padding : 0 30px;

    
    
    }
    .hamberger{
        display: block;
    }
    .hero{
        /* The hero image */
    
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/image.jpg");
      
        /* Set a specific height */
        height: 50%;
      
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    
    }
  }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
